html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  z-index: 0;
  float: left;
  height: 100%;
  width: 70%;
  background-color: #333;
}

#controls {
  text-align: center;
  float: left;
  bottom: 0px;
  height: 100%;
  width: 30%;
  background: #ccc;
}
